<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAGE | iChoose</title>
    <link rel="canonical" href="https://ichoose.live">

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="iChoose.live">
    <meta name="application-name" content="iChoose.live">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133464589-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-133464589-2');
    </script>



    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/anicollection.css">
    <link rel="stylesheet" href="/css/chartjs.css">

    <link rel="stylesheet" href="/css/custom.css">


    <script src="https://accounts.google.com/gsi/client" async defer></script>
    

</head>

<body>


    <!-- <div id='body_bg' class='rotator'>
		<div class="bg bg1"></div>
		<div class="bg bg2"></div>
		<div class="bg bg3"></div>
	</div> -->







    <section class="hero is-info no-auth">
        <div class="hero-body">
            <div id="buttonDiv"></div>
            <p class="subtitle">To manage your room, please sign in using your Google Account.</p>
        </div>
    </section>




    <!-- ONLY SHOW FOR AUTHORIZED USERS -->

    <section class="hero is-info auth-only">
        <div class="hero-body">
            <div class="columns is-mobile">

                <div id="buttonDiv" class="no-auth"></div>

                <!-- HIDDEN ON MOBILE, SHOW ON EVERYTHING ELSE -->
                <div class='column is-hidden-mobile'>
                    <span class="title">
                        <?PHP echo CHANNEL;?><span class='heroTitle'></span>
                    </span>
                </div>
                <div class='column has-text-centered role-manager is-hidden-mobile'>
                    <span class='subtitle' style='line-height: 2em;'> Responses: <span class='answerCount'>0</span> / <span class='playerCount'>0</span></span>
                </div>

                <!-- SHOW ON MOBILE ONLY-->
                <div class='column is-hidden-tablet role-player'>
                    <span class="title ">
                        <?PHP echo CHANNEL;?><span class='heroTitle'></span>
                    </span>
                </div>
                <div class='column has-text-center is-hidden-tablet'>
                    <span class='subtitle' style='line-height: 2em;'><span class='answerCount'>0</span> / <span class='playerCount'>0</span></span>
                </div>




                <div class='column is-narrow'>

                    <div class='role-manager is-pulled-right'>
                        <span id='m_stateBtns'>
                            <button data-state='closed' class='button is-hidden-mobile'>Edit (closed)</button>
                            <button data-state='question' class='button is-hidden-mobile'>Show Choices</button>
                            <button data-state='results' class='button is-hidden-mobile' disabled="disabled">Show Results</button>

                            <button data-state='closed' class='button is-hidden-tablet'>Edit</button>
                            <button data-state='question' class='button is-hidden-tablet'>Choices</button>
                            <button data-state='results' class='button is-hidden-tablet' disabled="disabled">Results</button>
                        </span>
                    </div>


                </div>



            </div>
        </div>
    </section>





    <!-- ******************** -->
    <!-- MANAGER-authorized -->
    <!-- ******************** -->

    <section class='has-text-centered roleSection role-manager auth-only'>
        <div class='state-closed state-question'>
            <div class='subtitle'>Question and Choices: <span id='questionMode'></span></div>
            <div class='box'>
                <form id='questionForm'>


                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Question:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id='inputQuestion' class="input" type="text" placeholder="Question...">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ANSWER FIELDS WILL BE APPENDED HERE -->
                    <div id="answers"></div>


                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                            <i id='delete_one' class='state-closed fas fa-minus-circle fa-2x' style="display:none;"></i>
                            <i id='add_one' class='state-closed fas fa-plus-circle fa-2x'></i>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id='questionUpdateBtn' type='submit' class="button is-primary" value="UPDATE" />
                                    <button type="button" id='questionResetBtn' class="button is-warning">RESET</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class='section state-closed'>
            <button id='sendQuestionBtn' class='button is-large is-fullwidth is-info is-shadow'>SEND THIS QUESTION</button>
        </div>

        <div id='progressbarContainer' class='state-question'>
            <span class='title is-hidden-mobile'>Visit: <span class='has-text-danger'><b>iChoose.live/{{roomid}}</b></span> to enter your response...</span>
            <div id='progressbar'></div>
        </div>

        <div id='m_ResultsContainer' style='display: none;' class='state-results'>
            <canvas id="m_ResultsChart"></canvas>
        </div>
    </section>








    <!-- **********  -->
    <!-- ********** SCRIPTS ************ -->
    <!-- **********  -->


    <script type="text/javascript" src="/js/colyseus.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/chart.js"></script>
    <script type="text/javascript" src="/js/chartjs_pielabels.js"></script>
    <script type="text/javascript" src="/js/textfill.js"></script>
    <script type="text/javascript" src="/js/progressbar.js"></script>
    <script type="text/javascript" src="/js/howler.js"></script>
    
    <script>
        var CHANNEL = '{{roomid}}'; // <?PHP echo json_encode(CHANNEL);?>;
    </script>
    <!-- main js file -->
    <script type="text/javascript" src="/js/manage.js"></script>
</body>

</html>